<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEAM</key>
	<dict>
		<key>OMACSpecificationVersion</key>
		<string>1.0</string>
		<key>OMACPayloadVersion</key>
		<string>1.0</string>
		<key>Auth</key>
		<dict>
			<key>requirePasscode</key>
			<true/>
			<key>OAuthSecret</key>
			<string></string>
			<key>OAuthToken</key>
			<string></string>
		</dict>
		<key>User</key>
		<dict>
			<key>profileImage</key>
			<string></string>
			<key>UID</key>
			<string>jappleseed</string>
			<key>domain</key>
			<string>NA</string>
			<key>displayName</key>
			<string>John Appleseed</string>
			<key>givenName</key>
			<string>Johnny</string>
			<key>SN</key>
			<string>Appleseed</string>
			<key>mail</key>
			<string>jappleseed@acmecloud.com</string>
		</dict>
		<key>ServiceEndPoint</key>
		<dict>
			<key>AppServiceUseSSL</key>
			<true/>
			<key>AppServiceHostname</key>
			<string>acmecloud.airwdemo.com</string>
			<key>AppServicePort</key>
			<string>443</string>
			<key>AppServicePath</key>
			<string></string>
		</dict>
		<key>Branding</key>
		<dict>
			<key>BrandingLogo</key>
			<string>AWTVLogo</string>
			<key>BrandingWallpaper</key>
			<string>backgroundElem</string>
			<key>BrandingCompanyName</key>
			<string>Air-Watch, LLC</string>
		</dict>
		<key>Device</key>
		<dict>
			<key>DeviceUID</key>
			<string>0F325F89555313D8BC5C5C25FAF2497419ECE6AC</string>
			<key>ManagementID</key>
			<string>2D8948227578BC595B244519CB5BE351B42B367D</string>
			<key>ManagementProvider</key>
			<string>com.airwatch.airwatch</string>
			<key>ManagementProviderURL</key>
			<string>demo.awmdm.com</string>
		</dict>
		<key>Logging</key>
		<dict>
			<key>LogLevel</key>
			<string>2</string>
		</dict>
		<key>Restrictions</key>
		<dict>
			<key>allowCutCopyPaste</key>
			<false/>
			<key>allowCelluar</key>
			<true/>
			<key>allowRoaming</key>
			<false/>
			<key>allowCloudSync</key>
			<false/>
			<key>allowedCloudSyncApps</key>
			<array>
				<string>com.air-watch.content.locker</string>
				<string>com.apple.icloud</string>
				<string>net.box.BoxNet</string>
				<string>com.google.Drive</string>
				<string>com.getdropbox.Dropbox</string>
				<string>com.microsoft.skydrive</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
